# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
pages/weather2/weather2.js
pages/weather2/weather2.json
pages/weather2/weather2.wxml
pages/weather2/weather2.wxss
